<x-inner class="au-inner">
  <x-row space="1">
    <x-col span="24">
      <div class="au-panel au-content" au-adaption [outerHeight]="97">
        <x-doc>
          <!-- <x-anchor [affixTop]="'2rem'"> -->
            <h2>欢迎回来，{{UserName}}</h2>
            <p>积分墙后台管理系统，是为管理员提供的为管理用户提供的完备系统。</p>
            <ul>
              <li>提供基本的系统管理模块（用户、角色、组织和菜单）</li>
              <li>基于RBAC的权限管理</li>
            </ul>

            <!-- <table>
              <thead>
                <tr>
                  <th>Chrome</th>
                  <th>Microsoft Edge</th>
                  <th>Firefox</th>
                  <th>Safari</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>最新 2 个版本</td>
                  <td>最新 2 个版本</td>
                  <td>最新 2 个版本</td>
                  <td>最新 2 个版本</td>
                </tr>
              </tbody>
            </table> -->
          <!-- </x-anchor> -->
        </x-doc>
      </div>
    </x-col>
  </x-row>
</x-inner>
