<x-inner class="au-inner au-column">
  <au-tool padding>
    <x-buttons [space]="0.5">
      <x-button (click)="action('cancel')" icon="fto-chevron-left">返回</x-button>
      <x-button icon="fto-save" type="primary" (click)="!formInvalid && action('save')"
        [disabled]="formInvalid || disabled">
        保存
      </x-button>
    </x-buttons>
  </au-tool>


    <x-form #form class="au-panel au-overflow-auto" au-adaption [outerHeight]="86" [disabled]="disabled"
    [controls]="controls" direction="row" labelSuffix=":" labelWidth="8rem" width="24rem" labelAlign="start" span="20"
    space="2" style="padding-left: 20px;">


  <div class="add-icon-title"><span class="red-star">*</span>添加任务图标</div>
  <div class="task-icon-bg">
    <img class="task-icon" *ngIf="taskIconSrc" src="{{taskIconSrc}}" alt="">
    <label htmlFor="uploadImage">
      <input type="file" accept="image/*" (change)="sendImg($event)" id="uploadImage" hidden>
      <img class="task-icon" src="assets/img/addimg.png">
    </label>
  </div>

  
    <div class="add-intro-title-bg" style="display: flex;">
      <div class="add-icon-title" style="line-height: 50px;">请添加任务操作说明：</div>
      <div class="add-intro-btn" (click)="action('addintro')">+</div>
    </div>


    <div *ngFor="let item of taskIntroList">
      <div class="intro-title">{{item.introTitle}}</div>
      <textarea class="intro-write"></textarea>
      <div class="intro-image">{{item.introImage}}</div>
      <label htmlFor="uploadImage">
        <input type="file" accept="image/*" (change)="sendImg($event)" id="uploadImage" hidden>
        <img class="task-icon" src="assets/img/addimg.png">
      </label>
    </div>

  </x-form>
</x-inner>